# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables locales / sensibles
*.auto.tfvars
*.auto.tfvars.json
terraform.tfvars
terraform.tfvars.json
*.tfplan
plan.out

# Editor / sistema
.DS_Store
Thumbs.db
.vscode/
.idea/
