# Single source of truth for hub-core shared.

SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
LOCATION=francecentral
LOCATION_SHORT=frc
ALLOWED_LOCATIONS=westeurope,francecentral
WORKLOAD=mlops
ENVIRONMENT=staging
ENVIRONMENT_SHORT=stg
INSTANCE=01
HUB_NAME=hub

# Backend
TFSTATE_RESOURCE_GROUP=rg-tfstate-platform-stg-frc-01
TFSTATE_STORAGE_ACCOUNT=sttfplatformstgfrc01
TFSTATE_CONTAINER=tfstate
TFSTATE_KEY=hub-core-shared.tfstate

# Hub resource groups
RG_INFRA_NAME=rg-hub

# Hub network
HUB_VNET_CIDR=10.0.0.0/22
HUB_NVA_UNTRUST_SUBNET_CIDR=10.0.0.64/26
HUB_NVA_TRUST_SUBNET_CIDR=10.0.0.128/26
HUB_NVA_TRUST_PRIVATE_IP=10.0.0.132

# OPNsense
OPNSENSE_VM_SIZE=Standard_D2s_v3
OPNSENSE_ADMIN_USERNAME=azureuser
OPNSENSE_ADMIN_PASSWORD=REPLACE_ME

# Governance
TAG_OWNER=tfm
TAG_COST_CENTER=master
